@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #c1bbb1;
  box-shadow: 0px 0px 35px rgba(0,0,0, 1);
}
.preloader-bg {
  position: absolute;
  top: -70px;
  right: -70px;
  bottom: -70px;
  left: -70px;
  background: url('img/background.jpg') center center no-repeat;
  background-size: cover;
  filter: blur(70px);
  z-index: -1;
}
.preloader-text {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  
}